/* #CSS
---------------------------------
    #HTML5
    #BODY
        #TYPOGRAPHY
    #HELPERS
    #IMAGES
    #BUTTONS
    #SITE STRUCTURE
        #HEADER
            #SITE-BRANDING (LOGO)   
            #SITE NAVIGATION
        #FOOTER
        #SECTIONS
            #HERO
    #LAYOUT
        #GRIDS
    #EFFECTS (FADE-INS)
--------------------------------- */

/* #TYPOGRAPHY  */
body {
    font-family: Josefin Sans, Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,.7);
    background-color: #f7f5f2;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    font-size: 87.5%;
    line-height: 1.5em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p-center {
    margin: auto;
    max-width: 35em;
}

h1 {
    font-family: Fino Sans, Josefin Sans, Helvetica, Arial;
    font-size: 3em;
    color: #000000;
}

/* #LINKS */
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgba(0,0,0,.6);
}

/* HELPERS */
.text-centered {
  text-align: center;
}

/* #IMAGES */
img {
  max-width: 100%;
  height: auto;
}

.shadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
}



/* SITE-STRUCTURE */

.site-header,
.site-footer {
    text-align: center;
    padding: 3em 0 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.site-identity h1 {
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}

.site-navigation ul {
    margin: 0;
    padding: 2em 0;
}

.site-navigation li {
    margin: 0 .5em;
    padding: 0;
    display: inline-block;
}

.site-navigation a {
    display: block;
    padding: 1em .5em;
    color: rgb(0, 0, 0);
}

.site-navigation a:hover,
.site-navigation a.selected {
    color: rgba(0,0,0,.6);
    border-bottom: 0.05em solid rgba(0,0,0,.2);
}

section {
    padding: 0 0 3em 0;
}

/* #LAYOUT: THUMB IMAGE GRID */
.thumbgrid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .thumbgrid li {
    list-style: none;
    width: 49.5%;
    padding-bottom: 0.4%;
  }
  
  @media (min-width: 768px) {
    .thumbgrid li {
      width: 24.5%;
    }
  }
  
  .thumbgrid a img {
      filter: brightness(1.05);
      transition: all ease-in-out 0.2s;
      border: 1px solid rgba(0, 0, 0, 0); 
  }
  
  .thumbgrid a:hover img {
      filter: brightness(1);
      border: 1px solid #ffffff;
  }

