/* #CSS
---------------------------------
    #HTML5
    #BODY
        #TYPOGRAPHY
    #HELPERS
    #IMAGES
    #BUTTONS
    #SITE STRUCTURE
        #HEADER
            #SITE-BRANDING (LOGO)   
            #SITE NAVIGATION
        #FOOTER
        #SECTIONS
            #HERO
    #LAYOUT
        #GRIDS
    #EFFECTS (FADE-INS)
--------------------------------- */

/* #TYPOGRAPHY  */
body {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #f7f5f2;
    margin: 0 auto;
    padding: 0;
    font-size: 87.5%;
    line-height: 1.5em;
}


p {
    max-width: 35em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p-center {
    margin: auto;
    max-width: 35em;
}

.projectinfo p {
  text-align: left;
  margin-right: auto;
}

h1 {
    font-family: Josefin Sans, Helvetica, Arial;
    font-size: 3em;
    color: #000000;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.55em;
}

h4 {
  font-family: Josefin Sans, Helvetica, Arial;
  font-size: 1.5em;
  color: #000000;
}

div {
    display: block;
}


/* #LINKS */
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgba(0,0,0,.6);
}

/* HELPERS */
.text-centered {
  text-align: center;
}

/* #IMAGES */
img {
  max-width: 100%;
  height: auto;
}

img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

.portimages {
  column-count: 2;
}

.avatar {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 2em;
}


.three-col-container {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 3;
  column-gap: 1em;
}


/*BUTTONS*/
.button {
    display: inline-block;
    border-radius: 2em;
    padding: 1em 2em;
    margin: 1em;
    border: 1px solid rgba(0,0,0,.7);
    color: rgba(0,0,0,.7);
    /* transition: all .4s ease-out; */
}

/*LINKS*/
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #5b6670;
    cursor: pointer;
    text-decoration: none;
}


/* SITE-STRUCTURE */

.site-header,
.site-footer {
    text-align: center;
    padding: 3em 0 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}


.site-identity h1 {
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}

.site-navigation ul {
    margin: 0;
    padding: 2em 0;
}

.site-navigation li {
    margin: 0 .5em;
    padding: 0;
    display: inline-block;
}

.site-navigation a {
    display: block;
    padding: 1em .5em;
    color: rgb(0, 0, 0);
}

.site-navigation a:hover,
.site-navigation a.selected {
    color: #d7a461;
    border-bottom: 0.05em solid rgb(0, 0, 0);
}

section {
  padding: 4em;
}


/* #LAYOUT: THUMB IMAGE GRID */
.thumbgrid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .thumbgrid li {
    list-style: none;
    width: 49.5%;
    padding-bottom: 0.4%;
  }
  
  @media (min-width: 768px) {
    .thumbgrid li {
      width: 24.5%;
    }
  }
  
  .thumbgrid a img {
      filter: brightness(1.05);
      transition: all ease-in-out 0.2s;
      border: 1px solid rgba(0, 0, 0, 0); 
  }
  
  .thumbgrid a:hover img {
      filter: brightness(1);
      border: 1px solid #ffffff;
  }

/* FULL-WIDTH HELPER */

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  
  .full-width img {
    width: 100%;
  }

  /*SECTIONS*/

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  

.subheadline {
    font-size: 2em;
    margin-bottom: 1.5em;
    color: rgba(0,0,0,.5);
  }


  
  /* HERO SECTIONS */

  .hero {
    position: relative;
    overflow: hidden;
    min-height: 400px;
    padding: 0;
  }
  .hero {
    background:transparent;
  }
  .hero img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }



  
  /* #LAYOUT: FLEX GRID */
  @media (min-width: 768px) {
    .projectinfo p {
      columns: 2;
  }
      .row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em;
      }
      .one-third.column {
          width: 32%;
      }
      .two-thirds.column {
          width: 60%;
      }
      .col-imagesmaller .container {
        display: flex;
        align-items: flex-start;
      }
      .col-imagesmaller .subcontent-image {
        width: 33.3333%;
    }
    .col-imagesmaller .subcontent-text {
        width: 66.6666%;
    }
    .flippit .container {
        flex-direction: row-reverse;
    }




  /* Page Fade-ins */
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  main,
  fade-in {
    opacity: 0;
    animation: fade-in ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  @keyframes fade-and-move-in {
    from {
      transform: translate(0, -20px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .fade-and-move-in * {
    opacity: 0;
    animation: fade-and-move-in ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  .fade-and-move-in *:nth-child(1) {
    animation-delay: 0.1s;
  }
  .fade-and-move-in *:nth-child(2) {
    animation-delay: 0.2s;
  }
  .fade-and-move-in *:nth-child(3) {
    animation-delay: 0.4s;
  }
  .fade-and-move-in *:nth-child(4) {
    animation-delay: 0.7s;
  }
  .fade-and-move-in *:nth-child(5) {
    animation-delay: 1s;
  }
  .fade-and-move-in *:nth-child(6) {
    animation-delay: 1.2s;
  }
  .fade-and-move-in *:nth-child(7) {
    animation-delay: 1.4s;
  }
  .fade-and-move-in *:nth-child(8) {
    animation-delay: 1.6s;
  }
  .fade-and-move-in *:nth-child(9) {
    animation-delay: 1.8s;
  }


  /* SUBPAGE CONTENT */
  .white {
    background: #ffffff60;
  }
  .subcontent-text {
    padding: 2em;
  }
  .subcontent-text h3 {
    font-size: 1.75em;
  }
  .meta-text, .meta-list {
    padding: 2em;
  }
  .meta-text h3 {
    border-top: 1px solid rgba(0,0,0,.3);
    padding-top: 2em;
  }
  .meta-info .meta-list {
    columns: 2;
  }
  .meta-list {
    list-style: none;
  }
  .meta-text, .meta-list {
    padding: 2em;
  }

.details {
  border-top: 1px solid rgba(0,0,0,.3);
    columns: 3;
    padding: 2em;
  }



/*CONTACT PAGE*/
.mywufooform {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}
  }